<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login - EventHub</mat-card-title>
      <mat-card-subtitle>Acesse sua conta</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="seuemail@exemplo.com" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email é obrigatório.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Formato de email inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="senha" [type]="hidePassword ? 'password' : 'text'" placeholder="Sua senha" required>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button" [attr.aria-label]="'Esconder senha'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('senha')?.hasError('required')">
            Senha é obrigatória.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="full-width login-button" [disabled]="isLoading">
          <span *ngIf="!isLoading">Entrar</span>
          <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="24"></mat-progress-spinner>
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions align="start" class="extra-actions">
      <a routerLink="/registrar">Não tem uma conta? Registre-se</a>
      </mat-card-actions>
  </mat-card>
</div>