.registro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); 
  padding: 2rem;
  box-sizing: border-box;
}

.registro-card {
  width: 100%;
  max-width: 450px; 
}

.full-width {
  width: 100%;
}

.registro-button {
  margin-top: 1rem;
  min-height: 48px; 
}

.extra-actions {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.extra-actions a {
  text-decoration: none;
  color: var(--primary-solid, #667eea); 
}

.extra-actions a:hover {
  text-decoration: underline;
}

.registro-button mat-progress-spinner {
  display: inline-block;
  vertical-align: middle;
}